<div class='facebook-post row-fluid'>
  <div class='userinfo row-fluid  span9'>
    <span class='name'>
      <b><%= facebook_api.name_from_id(post['actor_id']) %></b>
    </span>
    <span class='timestamp pull-right'>
      <%= link_to Time.at(post['created_time']).strftime('%I:%M %p, %d %B %y'),
          post['permalink'],
          :target => '_blank' %>
    </span>
  </div>
  <span class="facebook_text row-fluid  span9">
    <%= post['message'] %>
  </span>
  <div class='actions row-fluid  span9'>
    <span class='like-count'><%= post['likes']['count'] %> Likes</span>
    <span class='comment-count'><%= post['comments']['count'] %> Comments</span>
    <% if post['likes']['user_likes'] %>
      <span class='liked'>Liked</span>
    <% else %>
      <%= link_to 'Like',facebook_like_path,
          :data => {:remote => true,
            :params => {'fb_object_id' => post['post_id']},
            :method => :post},
          :class => 'js-like' %>
    <% end %>
    <%= link_to 'Reply','#',
        :data => {'fb-object-id' => post['post_id']},
        :class => 'reply js-fb-reply'  %>
    <%= link_to 'Block User','#',
        :data => {'fb-user-id' => post['actor_id']},
        :class => 'reply js-fb-block'  %>
  </div>
</div>
